proto/build
bin/*
vcpkg_installed/*
vcpkg_installed
.vs
notes.txt
*Debug*
*Release*
packages/*
x64
Win32
x86
*.tlog
*.log
*.recipe
*.pdb
*.ipdb
obj
*.iobj
docs/html
Documentation
*build*
CMakePresets.json
*temp*
!CMakeLists.txt
!external/*
external/LIEF*
output.yarc