{
    "ExtensibilitySelected": [
        "PE",
        "YARA",
        "AMSI"
    ],
    "Exclusions": [
        "C:\\Windows",
        "C:\\Program Files\\Microsoft Visual Studio\\",
        "C:\\Program Files (x86)\\Microsoft\\",
        "C:\\Users\\Research\\source\repos\\"
    ],
    "IgnoreDriver": false,
    "QuarantineMaliciousFiles": true,
    "EventProviders": [
        "Microsoft-Windows-Kernel-Process,0,0"
    ]
}